@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: "Roboto Flex", sans-serif; 

  --color-anthracite-100: #F2F3F4;
  --color-anthracite-200: #D5D8DC;
  --color-anthracite-300: #B8BDC4;
  --color-anthracite-400: #2C302E;
  --color-anthracite-500: #7E8794;
  --color-anthracite-600: #646C78;
  --color-anthracite-700: #4A515C;
  --color-anthracite-800: #303640;
  --color-anthracite-900: #161B24;
}

body {
  background: var(--background);
  color: var(--foreground); 
  font-family: "Roboto Flex", sans-serif;
}

